//-nav#top.nav.has-shadow(style="background-color:#2d3e63")
menu(menutipe= "'datos'")
section.section
	.title Empresa
	.columns
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='empresas') Empresa
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='granja') Granja
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='producto') Producto
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='bodega') Bodega
	.columns
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='grupo') Grupos
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='proveedor') Proveedor
	


