//-nav#top.nav.has-shadow(style="background-color:#2d3e63")
menu(menutipe= "'datos'")
section.section
	.title Seguridad
	.columns
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='usuarios') Usuario
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='permiso') Permisos