//-nav#top.nav.has-shadow(style="background-color:#2d3e63")
menu(menutipe= "'datos'")
section.section
	.title Ventas
	.columns
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='vendedor') Vendedores
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='puntodeVenta') Puntos de venta
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='correlativo') Correlativo
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='ruta') Rutas
	.columns
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='cliente') Clientes
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='familia') Familias
		.column.is-one-quarter
			.card
				.card-content
				.media
					.media-left
					figure.image.is-32x32
						i.fa.fa-gears
					a.title.is-5(ui-sref='selectorRuta') Seleccionar ruta