//-nav#top.nav.has-shadow(style="background-color:#2d3e63")
menu(menutipe= "'datos'")
.box(ng-init="granCtrl.CargaGranjas()")
	button.button.is-primary.is-outlined( ng-click="granCtrl.mostrarForm()") NUEVO
	.title Granja
	form(name='granjaForm', ng-show='granCtrl.visible')
		.content
			label.label {{ 'cod' | translate }}
			p.control
				input.input(type='number', placeholder='Codigo', ng-model="granCtrl.data.gran_id", readonly ="true")
			label.label(for='nombre') Nombre
			p.control
				input.input(type='text', placeholder='Nombre de la granja', required, name='gran_nombre', ng-model='granCtrl.data.gran_nombre' ng-class="{ 'is-danger' : granjaForm.gran_nombre.$error.required && !granjaForm.$pristine }")
			span(ng-show='!granjaForm.$pristine && granjaForm.gran_nombre.$error.required' ng-class="{ 'help is-danger' : granjaForm.gran_nombre.$error.required && !granjaForm.$pristine }") Nombre requerido
			label.label(for='direccion') Direccion 
			p.control
				input.input(type='text', required, name='gran_direccion', data-ng-model='granCtrl.data.gran_direccion' ng-class="{ 'is-danger' : granjaForm.gran_direccion.$error.required && !granjaForm.$pristine }")
			span(ng-show='!granjaForm.$pristine && granjaForm.gran_direccion.$error.required' ng-class="{ 'help is-danger' : granjaForm.gran_direccion.$error.required && !granjaForm.$pristine }") Razon requerida
			label.label(for='ubicacion') Ubicacion
			p.control
				input.input(type='text', name='gran_ubicacion', data-ng-model='granCtrl.data.gran_ubicacion' )
			label.label(for='contacto') Contacto
			p.control
				input.input(type='text', name='gran_contacto', data-ng-model='granCtrl.data.gran_contacto')
			label.label(for='telefono') Telefono
			p.control
				input.input(type='text', name='gran_telefono', data-ng-model='granCtrl.data.gran_telefono')
			label.label
			//- strong  Escoja una empresa.
				span.select.control
					select.select(data-ng-model='granCtrl.data.emp_id',required, name='emp_id' ng-class="{ 'is-danger' : granjaForm.emp_id.$error.required && !granjaForm.$pristine }")
						option(ng-repeat='empresaG in granCtrl.ListaEmpresas', value='{{empresaG.emp_id}}', ng-selected="granCtrl.data.emp_id == empresaG.emp_id")
							| {{empresaG.emp_nombre}}
			label.label Estado
			p.control
				label.radio
					input(type='radio', name='tperfil_sts',ng-model="granCtrl.data.gran_sts" value='1')
					|&nbsp; Activo
				label.radio
					input(type='radio', name='tperfil_sts',ng-model="granCtrl.data.gran_sts" value='0')
					|&nbsp; Inactivo
		input.button.is-primary(type='submit', ng-click='granCtrl.btnAgregar(granCtrl.data)' , ng-disabled='!granjaForm.$valid' value="GUARDAR")
		a.button.is-warning(ng-click='granCtrl.btnLimpiar(granjaForm)') LIMPIAR
table.table
		thead
			tr
				th
				th Nombre
				th Direccion
				th Ubicacion
				th Contacto
				th Telefono
				//- th Empresa
		tfoot
			tr
				th
				th Nombre
				th Direccion
				th Ubicacion
				th Contacto
				th Telefono
				//- th granja
		tbody
			tr(ng-repeat="i in granCtrl.ListaGranja")
				td
					a.button.is-success(ng-click="granCtrl.updGran(i)")
						i.fa.fa-pencil
				td {{i.gran_nombre}}
				td {{i.gran_direccion}}
				td {{i.gran_ubicacion}}
				td {{i.gran_contacto}}
				td {{i.gran_telefono}}
				//- td {{i.emp_nombre}}
			
				
				