//-nav#top.nav.has-shadow(style="background-color:#2d3e63")
menu(menutipe= "'datos'")
section.section(ng-init="$ctrl.cargaVendedores()")
	button.button.is-primary.is-outlined( ng-click="$ctrl.mostrarForm()") NUEVO
	.title Vendedor 
	form(name="venF", ng-show='$ctrl.visible')
		label.label {{ 'cod' | translate }}
		p.control
			input.input(type='number', placeholder='Codigo', ng-model="$ctrl.data.ven_id", readonly ="true")
		label.label {{ 'name' | translate }}
		p.control.has-icon.has-icon-right
			input.input(ng-class="{'is-success':!venF.ven_nombre.$error.required}", type='text',name="ven_nombre", placeholder='vendedor',ng-model="$ctrl.data.ven_nombre", required)
			i.fa.fa-check 
			span.help.is-danger(ng-show="venF.ven_nombre.$dirty && venF.ven_nombre.$error.required") {{ 'name' | translate }} {{ 'controlRequired' | translate}}
		label.label {{ 'CodVen' | translate }}
		p.control.has-icon.has-icon-right
			input.input(type='text',name="ven_codigo", placeholder='codigo del vendedor',ng-model="$ctrl.data.ven_codigo")
		label.label {{ 'Ident' | translate }}
		p.control.has-icon.has-icon-right
			input.input(ng-class="{'is-success':!venF.ven_identidad.$error.required}", type='text',name="ven_identidad", placeholder='Identidad',ng-model="$ctrl.data.ven_identidad", required)
			i.fa.fa-check 
			span.help.is-danger(ng-show="venF.ven_identidad.$dirty && venF.ven_identidad.$error.required") {{ 'Ident' | translate }} {{ 'controlRequired' | translate}}
		label.label {{ 'Dir' | translate }}
		p.control.has-icon.has-icon-right
			input.input(ng-class="{'is-success':!venF.ven_direccion.$error.required}", type='text',name="ven_direccion", placeholder='direccion',ng-model="$ctrl.data.ven_direccion", required)
			i.fa.fa-check 
			span.help.is-danger(ng-show="venF.ven_direccion.$dirty && venF.ven_direccion.$error.required") {{ 'Dir' | translate }} {{ 'controlRequired' | translate}}
		//-label.label {{ 'empresa' | translate }}
			span.select.control.has-icon.has-icon-right
				select.select(data-ng-model='$ctrl.data.emp_id',required, name='emp_id',ng-class="{ 'is-danger' : venF.emp_id.$error.required && !venF.$pristine }")
					option(ng-repeat='empresaV in $ctrl.ListaEmpresas',value='{{empresaV.emp_id}}',ng-selected="$ctrl.data.emp_id == empresaV.emp_id")
							| {{empresaV.emp_nombre}}
		label.label {{ 'User' | translate }}
			p.select.control.has-icon.has-icon-right
				select.select(data-ng-model='$ctrl.data.user_id',required, name='user_id' ng-class="{ 'is-danger' : venF.user_id.$error.required && !venF.$pristine }")
					option(ng-repeat='opUserV in $ctrl.ListaUsuarios', value='{{opUserV.tusuario_id}}', ng-selected="$ctrl.data.user_id == opUserV.tusuario_id")
							| {{opUserV.tusuario_name}}
		label.label Estado
		p.control
			label.radio
				input(type='radio', name='ven_sts',ng-model="$ctrl.data.ven_sts" value='1')
				|&nbsp; Activo
			label.radio
				input(type='radio', name='ven_sts',ng-model="$ctrl.data.ven_sts" value='0')
				|&nbsp; Inactivo
		p.control
			button.button.is-primary(ng-click="$ctrl.btnAgregar()",  ng-disabled='!venF.$valid') GUARDAR  
			button.button(ng-click="$ctrl.btnLimpiar(venF)") LIMPIAR
table.table
		thead
			tr
				th
				th {{ 'name' | translate }}
				th {{ 'CodVen' | translate }}
				th {{ 'Ident' | translate }}
				th {{ 'Dir' | translate }}
				//-th {{ 'empresa' | translate }}
				th {{ 'User' | translate }}
		tfoot
			tr
				th
				th {{ 'name' | translate }}
				th {{ 'CodVen' | translate }}
				th {{ 'Ident' | translate }}
				th {{ 'Dir' | translate }}
				//-th {{ 'empresa' | translate }}
				th {{ 'User' | translate }}
		tbody
			tr(ng-repeat="i in $ctrl.ListaVendedores")
				td
					a.button.is-success(ng-click="$ctrl.updateVen(i)")
						i.fa.fa-pencil
				td {{i.ven_nombre}}
				td {{i.ven_codigo}}
				td {{i.ven_identidad}}
				td {{i.ven_direccion}}
				//-td {{i.emp_nombre}}
				td {{i.tusuario_name}}