//-nav#top.nav.has-shadow(style="background-color:#2d3e63")
if tipoMenuAdmin == 'admin'
	menu(menutipe= "'adminGlobal'")
else
	menu(menutipe= "'datos'")
section.section(ng-init="$ctrl.CargaUsuarios()")
	button.button.is-primary.is-outlined( ng-click="$ctrl.mostrarForm()") NUEVO
	.title Usuario 
	form(name="usuarioF", ng-show='$ctrl.visible')
		label.label {{ 'cod' | translate }}
		p.control
			input.input(type='number', placeholder='Codigo', ng-model="$ctrl.data.tusuario_id", readonly ="true")
		label.label {{ 'name' | translate }}
		p.control.has-icon.has-icon-right
			input.input(ng-class="{'is-success':!usuarioF.tusuario_name.$error.required}", type='text',name="tperfil_name", placeholder='usuario',ng-model="$ctrl.data.tusuario_name", required)
			i.fa.fa-check 
			span.help.is-danger(ng-show="usuarioF.tperfil_name.$dirty && usuarioF.tperfil_name.$error.required") {{ 'name' | translate }} {{ 'controlRequired' | translate}}
		label.label {{ 'pass' | translate }}
		p.control.has-icon.has-icon-right
			input.input(type='password',name="tusuario_pass", placeholder='´Password',ng-model="$ctrl.data.tusuario_pass")
		if Verglobal == 1		
			label.label {{ 'empresa' | translate }}
			span.select.control.has-icon.has-icon-right
				select.select(data-ng-model='$ctrl.data.emp_id',required, name='emp_id',ng-class="{ 'is-danger' : usuarioF.emp_id.$error.required && !usuarioF.$pristine }")
					option(ng-repeat='empresaN in $ctrl.ListaEmpresas',value='{{empresaN.emp_id}}',ng-selected="$ctrl.data.emp_id == empresaN.emp_id")
							| {{empresaN.emp_nombre}}
		label.label {{ 'perfil' | translate }}
		p.select.control.has-icon.has-icon-right
			select.select(data-ng-model='$ctrl.data.tperfil_id',required, name='tperfil_id' ng-class="{ 'is-danger' : usuarioF.tperfil_id.$error.required && !usuarioF.$pristine }")
				option(ng-repeat='op in $ctrl.ListaPerfiles', ng-value='{{op.tperfil_id}}', ng-selected="$ctrl.data.tperfil_id == op.tperfil_id")
						| {{op.tperfil_name}}
		if Verglobal == 1				
			label.label Permiso global
			p.control
				label.radio
					input(type='radio', name='tusuario_global',ng-model="$ctrl.data.tusuario_global" value='1')
					|&nbsp; Activo
				label.radio
					input(type='radio', name='tusuario_global',ng-model="$ctrl.data.tusuario_global" value='0')
					|&nbsp; Inactivo
		label.label Estado
		p.control
			label.radio
				input(type='radio', name='tusuario_sts',ng-model="$ctrl.data.tusuario_sts" value='1')
				|&nbsp; Activo
			label.radio
				input(type='radio', name='tusuario_sts',ng-model="$ctrl.data.tusuario_sts" value='0')
				|&nbsp; Inactivo
		p.control
			button.button.is-primary(ng-click="$ctrl.btnAgregar()",  ng-disabled='!usuarioF.$valid') GUARDAR  
			button.button(ng-click="$ctrl.btnLimpiar(usuarioF)") LIMPIAR
table.table
		thead
			tr
				th
				th {{ 'name' | translate }}
				if Verglobal == 1
					th {{ 'empresa' | translate }}
				th {{ 'perfil' | translate }}
				th {{ 'lasing' | translate }}
		tfoot
			tr
				th
				th {{ 'name' | translate }}
				if Verglobal == 1
					th {{ 'empresa' | translate }}
				th {{ 'perfil' | translate }}
				th {{ 'lasing' | translate }}
		tbody
			tr(ng-repeat="i in $ctrl.ListaUsuarios")
				td
					a.button.is-success(ng-click="$ctrl.updUsuario(i)")
						i.fa.fa-pencil
				td {{i.tusuario_name}}
				if Verglobal == 1
					td {{i.emp_nombre}}
				td {{i.tperfil_name}}
				td {{i.tusuario_lasing}}